<!DOCTYPE html>
<html>

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, user-scalable=no">
  <title>{% if pageTitle is defined %}{{ pageTitle }} - {% endif %}Tales of galaxy</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css">
  <link rel="stylesheet" href="{{ asset('build/app.css') }}">

  <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}">
</head>

<body>

  <div id="root">
    <site-header></site-header>
  </div>

  {% block body %}{% endblock %}

  <footer>

    <div class="container">

      <div class="row">
        {% if app.request.attributes.get('_route') != 'index' %}
        <ul class="arianePath">
          <li>
            <a href="{{ path('index') }}">Index</a>
          </li>
          {% if app.request.attributes.get('_route') == 'viewforum' or app.request.attributes.get('_route') == 'viewtopic' or app.request.attributes.get('_route')
          == 'editpost' %}
          <span class="glyphicon glyphicon-chevron-right"></span>
          <li>
            <a href="{{ path('viewforum', {'forumId': forumData.id, 'cleanName': forumData.cleanName}) }}">{{ forumData.name }}</a>
          </li>
          {% endif %} {% if app.request.attributes.get('_route') == 'viewtopic' or app.request.attributes.get('_route') == 'editpost'
          %}
          <span class="glyphicon glyphicon-chevron-right"></span>
          <li>
            <a href="{{ path('viewtopic', {'topicId': topicData.id, 'cleanTitle': topicData.cleanTitle}) }}">{{ topicData.title }}</a>
          </li>
          {% endif %} {% if app.request.attributes.get('_route') == 'viewprofile' or app.request.attributes.get('_route') == 'editprofile'
          %}
          <span class="glyphicon glyphicon-chevron-right"></span>
          <li>
            <a href="{{ path('viewprofile', {'userId': userData.id}) }}">{{ pageTitle }}</a>
          </li>
          {% endif %}
        </ul>
        {% endif %}
      </div>
      <!-- /.div row -->

      {% block footer %}{% endblock %}

    </div>
    <!-- /.div container -->

  </footer>

  <script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="
    crossorigin="anonymous"></script>
  <script src="{{ asset('build/app.js') }}"></script>

  <script type="text/javascript">
    window.routes = {
      index: "{{ path('index')|escape('js') }}",
      logout: "{{ path('logout')|escape('js') }}",
      login: "{{ path('login')|escape('js') }}",
      register: "{{ path('register')|escape('js') }}"
    };
  </script>    

  {% block javascript %}{% endblock %}

</body>

</html>