{% extends 'base.html.twig' %}

{% block body %}
{% form_theme form 'ToGForumBundle:Form:fields.html.twig' %}

<main id="page-register">

    <div class="container">

        {{ form_start(form) }}

            {{ form_row(form.username) }}
            {{ form_row(form.email) }}
            {{ form_row(form.plainPassword.first) }}
            {{ form_row(form.plainPassword.second) }}

            <input type="submit" value="S'inscrire" class="btn btn-default" />
        {{ form_end(form) }}

    </div><!-- /.div container -->

</main>

{% endblock %}
