{% extends 'base.html.twig' %}

{% block javascript %}
{{ dump(categories_and_forums) }}
{% endblock %}

{% block body %}
<main id="page-index">

  <div id="index-root" data-categories-and-forums={{ categories_and_forums|json_encode() }}>
    <forum-list></forum-list>
  </div>

</main>
{% endblock %} 

{% block footer %}
<div class="row">

  <div class="whosonline">

    <h2>Qui est en ligne ?</h2>

    <p>
      {% if usersOnline|length %} Au total, il y a {{ usersOnline|length }} utilisateur{% if usersOnline|length > 1 %}s{% endif
      %} en ligne :
      <ul>
        {% for user in usersOnline %}
        <li>
          <a href="" style="color: #B25D3B">
            <strong>{{ user.username }}</strong>
          </a>{% if loop.last == false %}, {% endif %}</li>
        {% endfor %},
        <li>
          <a href="" style="color: #ec6216">
            <strong>Davoss (Placeholder)</strong>
          </a>
        </li>,
        <li>
          <a href="" style="color: #1675B7">
            <strong>Raltir (Placeholder)</strong>
          </a>
        </li>,
        <li>
          <a href="" style="color: #1675B7">
            <strong>Hana (Placeholder)</strong>
          </a>
        </li>,
        <li>
          <a href="" style="color: #e90707">
            <strong>Andhar (Placeholder)</strong>
          </a>
        </li>,
        <li>
          <a href="" style="color: #7C7C7C">
            <strong>Gilad (Placeholder)</strong>
          </a>
        </li>,
        <li>
          <a href="" style="color: #624079">
            <strong>Ghent (Placeholder)</strong>
          </a>
        </li>
      </ul>
      {% else %} Il n'y a aucun utilisateur connecté actuellement. {% endif %}
    </p>

  </div>

</div>
<!-- /.div row -->

<div class="row">

  <div class="legend">

    <ul>
      {% for group in groups %}
      <li class="faction-{{ group.abreviation }}-border-hover">
        <a href="#" style="color: #{{ group.colour }}">
          <strong>{{ group.name }}</strong>
        </a>
        ({{ group.members|length }})
      </li>
      {% endfor %}
    </ul>

  </div>
  <!-- ./div legend -->

</div>
<!-- /.div row -->
{% endblock %}