{% extends 'base.html.twig' %}

{% block body %}
{% form_theme form 'ToGForumBundle:Form:fields.html.twig' %}
{{ include('ToGForumBundle:Form:bbcode.html.twig') }}

<main id="page-admin">

    <div class="container">

        <div class="row">

            <header class="topic-header">

                <h2 class="topic-title">{{ topicData.title }}</h2>

            </header>

        </div><!-- /.div row -->

        <div class="row">

            {{ form_start(form, { 'attr': {'class': 'form-display1'} }) }}

                {% if mode == 'newTopic' %}
                    {{ form_row(form.topic.title) }}
                {% endif %}

                {{ form_row(form.text) }}

            {{ form_end(form, { 'attr' : { 'class': 'form-posting-msg' } }) }}

        </div><!-- /.div row -->

    </div><!-- /.div container -->

</main>
{% endblock %}
